@model GalaxiaAPI.ViewModels.LoginViewModel

<h1>Login</h1>

<form asp-controller="Account" asp-action="Login" method="post">
    <table>
        <tr>
            <td><label asp-for="UserName"></label></td>
            <td><input asp-for="UserName" /></td>
        </tr>
        <tr>
            <td><label asp-for="Passaword"></label></td>
            <td><input asp-for="Password" /></td>
        </tr>
        <tr>
            <td><label asp-for="RememberMe"></label></td>
            <td><input asp-for="RememberMe" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Registrar" />
            </td>
        </tr>
    </table>
    <div asp-validation-sumary="All"></div>
</form>